#card {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#thumbnail {
    width: 80px;
}

#details {
    color: greenyellow;
}

#details:hover {
    color: red;
    cursor: pointer;
}
