/* You can add global styles to this file, and also import other style files */
body {
    background: url('/assets/pexels-pixabay-209831.jpg');
}

h3 {
    color: white;
}

p {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }